/*
:root {
  --bg-primary: #fafafa;
  --bg-surface: #ffffff;
  --text-main: #171717;
  --text-secondary: #737373;
  --text-muted: #a3a3a3;
  
  --border-light: #e5e5e5;
  --accent-hover: #000000;

  --fuente: "Clarity City", sans-serif;
}
*/